@font-face {
  font-family: 'Univers';
  src: local('Univers');
  src: url('Univers.eot');
  src: url('../fonts/Univers.woff2') format('woff2'),
       url('../fonts/Univers.woff') format('woff'),
       url('../fonts/Univers.ttf') format('truetype'),
       url('../fonts/Univers.svg#Univers') format('svg'),
       url('../fonts/Univers.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Univers';
}

header.main{
  height: 80px;
  border: 1px solid #dddddd;
}

/* LOGO */
.main .logo {
  width: 30%;
  height: inherit;
  font-size: 40px;
  /* line-height: 30px; */
  padding: 20px;
  float: left;
}

.logo span {
  font-size: 30px;
}

/* NAV */
nav {
  height: inherit;
  width: 30%;
  float: right;
}

.main nav > ul {
  width: 100%;
  height: inherit;
  list-style: none;
}

.main nav > ul li {
  width: 33.33%;
  text-align: center;
  font-size: 25px;
  line-height: 80px;
  float: left;
  height: inherit;
}

.main nav > ul > li > a:visited {
  color: #000;
}

/* SECTION */
.content{
  width: 80%;
  margin: auto;
}

.content > section {
  width: 60%;
  height: 500px;
  /* background-color: #f660de; */
  float: left;
  padding: 20px;
}

.content > aside {
  width: 40%;
  height: 200px;
  /* background-color: #63f06d; */
  float: left;
  padding: 40px;
}

/* ASIDE */
.content > aside > .img, .content > section > article .img {
    width: 80px;
    height: 80px;
    background-color: #a785e6;
    border-radius: 50%;
    background-image: url('../images/7.jpg');
    background-size: cover;
    background-position: 50% 50%;
    float: left;
}

.content > aside > h2 {
  float: left;
  line-height: 80px;
  padding-left: 20px;
}

.content > aside > p {
  clear: both;
  padding: 10px;
}

/* SECTION ARTICLE */

.content > section > article {
  /* padding: 20px; */
  /* background-color: #1950d9; */
  border: 1px solid #dedede;
  border-radius: 10px;
}

.content > section > article .img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.content > section > article > .info {
  padding: 20px;
  line-height: 40px;
}

.content > section > article img {
  display: block;
  width: 100%;
}

.content > section > article .comment{
  padding: 20px;
  overflow: auto;
}

.content > section > article > .comment > .icons {
  float: left;
  width: 20%;
  font-size: 2em;
}

.content > section > article input[type="text"] {
  display: block;
  float: right;
  border: none;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 15px;
  font-size: 1.1em;
}
